nav .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgb(68, 68, 68);
    color: white;
}

nav {
    background-color: rgb(68, 68, 68);
}

nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: .1s all;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
}

.active {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
}

nav a:hover:not(.active) {
    /* font-size: 20px; */
    border-bottom: 2px solid yellow;
}