.not-found-page {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-page img {
    width: 60%;
    margin-top: 3rem;
}